body {
	margin: 25px 25px 25px 25px ;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-display: bold; 

}



.content{
	padding-bottom: 70px; 
	
	
	
}


.column, .row:after {
	box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
	float: left;
	width: 33.33%;
	padding: 10px;
	
  }
  .column ul{
	list-style: none;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .mail{
	text-decoration: none;
}

.footer{
	width: 100%;
	height: 100%;
	 margin-bottom: 0;
	 padding-bottom: 0;
	background: whitesmoke;
	
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
	
}
.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;

}
.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	
}
.footer-social-icons ul li a{
	color: #272727;
	font-size:  25px;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}
nav{
	font-size: 20px;
}
.navbar-brand{
	font-size: 25px;
}




  
  
  

























